/data/interim
/data/intrim
/data/raw
/data/processed/Pla_0_42_1_1_1_0.25_0.015
/data/processed/Pla_128_42_1_1_1_0.25_0.015
/data/processed/Pla_*
/data/processed/v1_dark_removed
/logs
/models/experiments
/.vscode
*.png
*.xlsx
*.sql
notebooks/initial_weights.h5
notebooks/fine_tuned_weights.h5
New Microsoft Word Document.docx
/*/__pycache__
*/__pycache__
src/__pycache__
src/__pycache__/config.cpython-310.pyc
src/__pycache__/data_pipeline.cpython-310.pyc
src/__pycache__/model.cpython-310.pyc
src/__pycache__/train.cpython-310.pyc
